<%#binding.pry%>
<% if i < 2 %>

<div class='alwaysshow' class = "comment" data-item-id="<%=comment.recipe_id%>">
    
  <h5> <%=comment.body%> </h5>
</div>
<%end%>

<% if i > 2 %>

<div class='hideunlessclicked' class = "comment" data-item-id="<%=comment.recipe_id%>">
    
  <h5> <%=comment.body%> </h5>
</div>
<%end%>