 <div class="extend-form">
     <!-- <h6>Click to create a new comment</h6> -->
  </div>

 <div class="extendible-form">
 
        <%= form_for Comment.new(:recipe_id => @recipe.id), :remote => true do |f| %>

      <%= f.hidden_field :recipe_id %>

      <div class="field">
          <%= f.text_area :body %>
      </div>

      <div class="field">
         <%= f.submit %>
      </div>

     <% end %>
 </div>
 