<div class='navigation'>
  <h2> COOKING WITH MUSIC </h2>
</div>

<div class='choosearecipe'>
  <h1>CHOOSE A RECIPE</h1>
</div>


<div class = "choose">
  <% @category.recipes.each do |recipe| %>
  <tr>
    <br>
    <td><%= link_to recipe.name, category_recipe_path(recipe.category_id, recipe.id), :class => 'choose' %></td><br><br>
    </br>
  <!--  <td><%= recipe.method %></td> -->

  <td><%#= link_to 'Show', recipe %></td>
  <td><%#= link_to 'Edit', edit_recipe_path(recipe) %></td>
  <td><%#= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</div>

<div class = "return">
  <h4><%= link_to 'Back', categories_path %></h4>
</div>



<%#= link_to 'New Recipe', new_recipe_path %>
