*{
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}

.catchphrase{
  margin-top:20px;
  text-align: center;
  h4{
    font-style:italic;
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
  }
}

.chooseacuisine{
  text-align:center;
  h3{
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    margin-top:20px;
  }
}

.content{
	text-align: center;
      size: 60px;
      color: black;
      font-family: times;
      font-size: 30px;
      // height: 500px;
}

.categorynames{
      margin:20px;
      margin-left:73px;
      text-decoration:none;
      float:left;
      font-size:1.5em;

}

.navigation{
  height:50px;
  background-color:lightgrey;
  width:1170px;
  margin-left:auto;
  margin-right:auto;
   h2{
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    text-align:center;
   }

}

.navbar{
  margin-top:40px;
  height:50px;
  background-color:lightgrey;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    .backbutton{
      text-align:left;
      // display:inline;
        h4{
        font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
      // float:left;
     }
   }
 }

 .cookingwithmusic{
     text-align: center;
     // margin-top: -35px;
      h2{
        font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
      }
}

.carosel{
  width: 370px;
  margin-left: auto;
  margin-right: auto;
}

.orgin{
  width: 300px;
}



/*img {
      margin-top: 15px;
      float:center;
      height: 800px;
      width: 800px;
     }*/


      
      
//       html { 
//   background: url('/grain.jpg') no-repeat center center fixed; 
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }
// .background{
// //   background-image: url('/souschefcakes.jpg');
// // }
      


// div {
//     border: 1px black;
//     }


