

.index {
       
       font-size: 60px;
       color: black;
       a:link;
       a:visited;
       a:hover;
       a:active;
       

       /*margin-top: 50px;*/
       
       }

.content{
	text-align: center;
      size: 60px;
      color: black;
      font-family: times;
      font-size: 30px;
      height: 50px;
      }

/*img {
      margin-top: 15px;
      float:center;
      height: 800px;
      width: 800px;
     }*/

html {
      background-image:url('http://www.souschef.co.uk/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/c/h/chilli-de-arbol.jpg');
}

div {
    border: 1px black;
    }


