#comment_body{
    border-radius: 20px;
}

#commentsbox h4{
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}

#commentsbox h5{
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}

.commentbutton{
    border-radius:5px;
}

.comment h5{
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    font-size:12px;
}