.container{
          clear:both;
          }

.float_left{
           float:left;
           width:40%;
           margin-left: 70px;
           }

.float_right{
          float:right;
          width:40%;
           }









.choose {
	    margin-top: 30px;
	    font-color: grey;
        }

iframe {
	   clear: right;
       float: right;
      margin: 5px 25px 5px 0px;
      }

.name {
	  
	  text-align: left;
    width: 600px;
    height: 300px;
   
    }

.ingredient
    {
    float:left;
    clear:left;
    text-align: left;
    width: 600px;
    font-size: 30px;
    display:block;
    height: 350px;
   
    }

img {
    float:left;
    height: 300px;
    width: auto;
    clear:left;
    }

#image{
    border: 2px black;
      }

.return{
    margin-top: 500px
       }

.return2{
       margin-top: 800px;
       text-align:center;
       clear:both;
}
/** {
  border: 1px solid black;
}*/