  <html>
    

       <h3 style = "color:black;">Choose a Cuisine</h3>
   
      <div class = "index">

          <br><% @categories.each do |a| %>
                <%= link_to a.name, category_recipes_path(a.id)%></br>


      <%#= link_to 'Edit', edit_category_path(a) %></td>
      <%#= link_to 'Destroy', a, method: :delete, data: { confirm: 'Are you sure?' } %>
          <%end%>
      <div/>
      
     <!--  <img src="http://www.souschef.co.uk/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/c/h/chilli-de-arbol.jpg"/>
 -->
      
  </html>



<%#= link_to 'New Category', new_category_path %>





      
