<!DOCTYPE html>
<html>
<head>
  <title>CookingMusicApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
	<div class = "content">
	   <h1>Cooking & Music</h1>

        <%= yield %>
    </div>
</body>
</html>
